<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :event_name %>
  </div>

  <div class="field">
    <%= form.label :number_attending %>
    <%= form.number_field :number_attending, id: :event_number_attending %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :event_description %>
  </div>

  <div class="field">
    <%= form.label :group_tag %>
    <%= form.number_field :group_tag, id: :event_group_tag %>
  </div>

  <div class="field">
    <%= form.label :room_id %>
    <%= form.text_field :room_id, id: :event_room_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :event_user_id %>
  </div>

  <div class="field">
    <%= form.label :organization_id %>
    <%= form.text_field :organization_id, id: :event_organization_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
