<h2>Your Event is <span class="accent-color">Created</span></h2>
 -
 -<h4>We look forward to having <%= @event.organization.name %> in <%= @event.room.full_name %> on <%= @event.date.strftime('%B %d, %Y') %> from <%= @event.start_time.strftime('%k:%M %p') %> to <%= @event.end_time.strftime('%k:%M %p') %> for <%= @event.description %>. </h4>
 -
 -<h5><b><%= @event.user.name %></b> created this event on <%= Time.now.strftime('%B %d, %Y') %> at <%= Time.now.strftime('%k:%M %p') %></h5>
