<p id="notice"><%= notice %></p>
<h1><%= @event.name %></h1>
<p>
  <strong>Room:</strong>
  <%= @event.room.full_name() %>
</p>
<p>
  <strong>Date:</strong>
  <%= @event.date.strftime('%m/%d/%Y') %>
</p>
<p>
  <strong>Start Time:</strong>
  <%= @event.start_time.strftime('%l:%M %P') %>
</p>
<p>
  <strong>End Time:</strong>
  <%= @event.end_time.strftime('%l:%M %P') %>
</p>
<p>
  <strong>Organization:</strong>
  <%= @event.organization.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<p>
  <% if current_user.role?(:admin) || current_user.id == @event.user_id %>
    <td><%= link_to 'Edit', edit_event_path(@event), :class=>"btn waves-effect waves-light" %></td>
  <% end %>
</p>


