<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.name, organization %></td>
        <% if current_user.role?(:admin)%>
        <td><%= link_to 'Edit', edit_organization_path(organization), :class=>"btn waves-effect waves-light" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<span class="paginate">
  <%= will_paginate @organizations, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next", :param_name => 'organizations' %>
</span>

<%= link_to 'New Organization', new_organization_path, :class=>"btn waves-effect waves-light" %>
